<div class="jumbotron mt4">
    <h1 class="display-4"> Notes App Nodejs and Mongodb</h1>
    <p class="lead">Notas do Dia-a-dia</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorum facilis totam at illo corrupti recusandae maiores eum officia cumque veritatis soluta accusamus, obcaecati rerum ab odit enim doloremque aliquid.</p>
    <a href="https://google.com.br" target="_blank" class="btn btn-primary">Google</a>
</div>
